services:
  server:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_URL=${DB_URL:-}
      - DB_USER=${DB_USER:-}
      - DB_PASSWORD=${DB_PASSWORD:-}
      - DB_DRIVER=${DB_DRIVER:-}